@charset "utf-8";

:root {
    --Fundo_perincipal:  #0f1115;
    --Seções:            #1c1f26;
    --Texto_principal:   #ffffff;
    --Texto_secundário:  #b0b3b8;
    --Botões_primários:  #1e90ff;
    --Botões_alertas:    #ff4d4f;
    --Destaque_borda:    #2e313a;
}

/*  Escolha de Fontes
    Títulos: Poppins, Montserrat ou Robot
    Texto comum: Robot, Open Sans
*/

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: var(--Fundo_perincipal);
    color: var(--Texto_principal);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 50px;
    transition: background-color 0.3 ease;
    z-index: 10;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
}

#header.scrolled  {
    background-color: #0f1115d0;
    color: white;
}

.navbar {
    display: flex;
    padding: 10px;
}

nav {
    background-color: #0f1115;
    padding: 12px;
    border-radius: 20px;
    border: 2px solid #25d366;
    box-shadow: 1px 1px 15px 6px #25d3653d;
}

.navbar nav a {
    color:  white;
    font-size: 18px;
    padding-left: 1px;
    text-decoration: none;
    font-weight: bold;
    transition: color .3s;
}

.menu {
    display: flex;
    gap: 20px;
}

.navbar nav a:hover {
    color: #25d366;
    text-decoration: underline;
}

.hamburguer {
    display: none;
    font-size: 28px;
    cursor: pointer;
}

#cta {
    background-color: #25d366;
    color: white;
    border-radius: 20px;
    padding: 15px  25px;
    text-decoration: none;
    font-weight: 500;
    transition:  background-color 0.3s ease;
    box-shadow: 1px 1px 15px 6px #055825;
    margin-right: 40px;
}

#cta:hover {
    cursor: pointer;
    box-shadow: 1px 1px 15px 6px #25d366;
    background-color: #055825;
}

#carvani {
    margin-left: 40px;
    color: #25d366;
}

#sec1 {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.carrossel {
    width: 100%;
    height: 100%;
    position: relative;
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
}

.slide.active {
    display: block;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.texto-fixo {
    margin-top: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
    background-color: #0f1115e8;
    padding: 20px;
    border-radius: 16px;
    width: 80%;
    height: 70%;
    justify-content: center;
    align-items: center;
}

.texto-fixo h1 {
    font-size: 48px;
    padding: 10px;
}

.texto-fixo h2 {
    font-size: 38px;
    padding: 5px;
}

.texto-fixo p {
    font-size: 24px;
    padding: 5px;
}

#social > a{
    font-size: 30px;
    padding: 10px;
    color: white;
    transition: background-color 0.3s ease-in-out;
}

#social > a:hover {
    color: #25d366;
    cursor: pointer;
}

#sec2 {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 100px 1fr 1fr 100px;
    grid-template-rows: 100px 1fr 1fr 100px;
    background-color: black;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}

#camera {
    grid-column: 2/3;
    grid-row: 2/4;
}

#camera img {
    width: 70%;
    border-radius: 50%;
    box-shadow: 1px 1px 15px 6px #25d36583;
}

#sobre_nos {
    margin-bottom: 16px;
    padding: 10px;
    grid-column: 3/4;
    grid-row: 2/4;
}

#sobre_nos h1, h2 {
    color: #25d366;
}

#sobre_nos p {
    font-size: 1rem;
}

#sec3 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    height: auto;
    margin-top: 130px;
    padding: 160px;
    gap: 20px;
}

#h1sober{
    position: relative;
    top:260px;
    text-align: center;
    color: var(--Texto_principal);
}

.servico {
    height: 500px;
    background-color: var(--Seções);
    padding: 10px;
    border-radius: 10px;   
    box-shadow: 1px 1px 16px 6px #25d36509;
}

.servico:hover {
    cursor: pointer;
}

.servico h3 {
    padding: 10px;
    color: #25d365d3;
}

.servico p {
    padding: 10px;
    text-align: left;
}

.servico button {
    padding: 10px 14px;
    background-color: var(--Texto_principal);
    border-radius: 10px;
    border: none;
    width: 100%;
    font-weight: bold;
    transition: background-color 0.2s ease-in;
}

.servico button:hover {
    background-color: #25d366;
    cursor: pointer;
    box-shadow: 1px 1px 15px 6px #25d3653d;
    color: white;
}

.SECimg img {
    width: 100%;
}

.SECimg img:hover {
    cursor: pointer;
    transform: scale(1.08);
}